* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
/* Navbar */
.nav-logo {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    background-color: #ffd302;
    color: #314e45;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}
.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.active {
    background-color: #314e45;
    opacity: 90%;
    padding: 10px;
}
/* Doctor Showcase */
.doc-showcase {
    padding-top: 40px;
}
.doc-prof {
    display: flex;
}
.docimg img {
    border-radius: 50%;
    height: 100px;
    padding: 10px;
}
.prof {
    display: none;
}
.prof p {
    font-size: 12px;
    text-align: justify;
    padding: 10px;
}
.bookbtn {
    margin: auto;
    text-align: center;
}
.bookbtn a:hover {
    background-color: #fff;
    border: 1px solid #314e45;
    color: #314e45;
}
.bookapp {
    background-color: #ffd302;
    color: #314e45;
    margin-bottom: 20px;
}
.load {
    margin: auto;
    text-align: center;
}
.loadbtn {
    background-color: #ffd302;
    color: #314e45;
}
.load a:hover {
    background-color: #314e45;
    color: #fff;
}
.m-content {
    background-color: #fff;
}

/* Modal */
.modal-header {
    background-color: #ffd302;
}
.modal-content {
    color: #314e45;
}
.proceed {
    background-color: #ffd302;
    border: none;
    color: #314e45;
}
.proceed:hover {
    background-color: #fff;
    color: #314e45;
    border: 1px solid #314e45;
}
.close {
    border: 1px solid #314e45;
}
.close:hover {
    background-color: #ffd302;
    color: #314e45;
    border: none;
}
.form-group label {
    background-color: #fff;
}

/* Appointment */
#myc-container {
    width: inherit;
}

#myc-nav-container {
    margin-bottom: 15px;
    width: inherit;
    background-color: #ffd302;
    border-radius: 20px;
}

#myc-current-month-year-container {
    border-radius: 10px;
    background-color: #ffd302;
    color: #314e45;
    display: inline-block;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;
    width: 68%;
    padding: 10px;
    
}

#myc-prev-week-container {
    display: inline-block;
    width: 15%;
    padding: 10px;
}

#myc-next-week-container {
    display: inline-block;
    width: 15%;
    padding: 10px;
}

#myc-prev-week {
    border: 1px solid #314e45;
    border-radius: 80px;
    color: #314e45;
    cursor: pointer;
    float: left;
    font-size: 1.6em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    width: 40px;
}

#myc-next-week {
    border: 1px solid #314e45;
    border-radius: 80px;
    color: #314e45;
    cursor: pointer;
    float: right;
    font-size: 1.6em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    width: 40px;
}

#myc-prev-week:hover, #myc-next-week:hover {
    border: 1px solid #314e45;
    color: #bdbdbd;
    background-color: #314e45;
}

#myc-week-container {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myc-dates-container {
    background-color: #fafafa;
}

.myc-date-header {
    border-right: 1px solid #e0e0e0;
    display: inline-block;
    min-height: 50px;
    padding: 15px 0px 15px 15px;
    vertical-align: top;
    width: 13.77%;
}

.myc-date-header:first-of-type {
    padding-left: 15px;
}

.myc-date-header:last-of-type {
    border-right: none;
    width: 13%;
}

#myc-available-time-container {
    border-top: 1px solid #e0e0e0;
    min-height: 150px;
}

.myc-day-time-container {
    /*border-right: 1px solid #e0e0e0;*/
    display: inline-block;
    height: 100%;
    padding: 15px 15px 15px 15px;
    vertical-align: top;
    width: 13.77%;
}

.myc-day-time-container:first-of-type {
    padding-left: 15px;
}

.myc-day-time-container:last-of-type {
    border-right: none;
    width: 13%;
}

.myc-date-number {
    font-size: 1.8em;
    font-weight: lighter;
}

.myc-available-time {
    background-color: #ffd302;
    border-radius: 20px;
    color: #314e45;
    display: block;
    margin-bottom: 15px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
}

.myc-available-time.selected, .myc-available-time:hover {
    background-color: #fff;
    border: 1px solid #314e45;
    color: #314e45;
}

.myc-date-display {
    font-weight: lighter;
}